### Note book Two

Compare the survey results for specific items indentified during shoreline surveillance of Lake Geneva. Group survey results in time by Winter, Spring, Summer or Fall, by body of water and municipality.

__Research question:__

_Does the data indicate that shoreline litter densities are seasonal? If so describe the relationship._

#### Contents

1. Automating some things
2. Making a MlwCode class  
3. Dealing with time
4. Grouping by season
5. Plot grouped by season and code

### Setting up

Make sure you are running the same packages as this notebook. There is a requirements.txt file for the virutal environment in the [repo](https://github.com/hammerdirt/SWE_2019.git).

#### Imports

No changes form note book one

In [1]:
import numpy as np
import json
import csv
import datetime
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import requests
import os
import matplotlib.dates as mdates
from matplotlib import colors as mcolors
from matplotlib.ticker import MultipleLocator
from matplotlib.patches import Patch
from matplotlib.lines import Line2D

In [2]:
# making the file structure
# if you changed the file structure then this function will be problematic


folders = ["Data", "Charts", "Utilities"]
here = os.getcwd()
# never comment this out -- it is used to save output
def make_folders():
    my_folders = {}
    for folder in folders:
        place = here +"/"+ folder
        my_folders[folder] = place
    return my_folders
my_folders = make_folders()

### Making the code class

Gather and compute details for the MLW Codes in a class.

#### Utility functions

In [3]:
# nothing fancy, jsut storing the data we used in Notebook one in a class object.

# variables
variable_names=["beach_info", "get_toys", "get_sheeting"]
end_points = [
    "http://mwshovel.pythonanywhere.com/dirt/beaches/Lac-L%C3%A9man/",
    "http://mwshovel.pythonanywhere.com/dirt/codes/Lac-L%C3%A9man/G32",
    "http://mwshovel.pythonanywhere.com/dirt/codes/Lac-L%C3%A9man/G67",    
]

def get_the_data(variable_names,end_points):
    data = {}
    for i, name in enumerate(variable_names):
        data[name] = requests.get(end_points[i]).json()
    return data
# make a pieces per meter value for each observation
def get_pieces_per_meter(a_list_of_objects):
    new_list_of_objects = []
    the_keys = list(a_list_of_objects.keys())    
    for this_key in the_keys:
        new_list = a_list_of_objects[this_key]
        for the_object in new_list:
            new_object = the_object
            new_object["pcs_m"] = np.round(new_object["quantity"]/new_object["length"], 3)
            new_list_of_objects.append(new_object)
    return new_list_of_objects
# make a summary of the data 
def make_summary(data):
    results = {}
    pcs_m = []
    for result in data:
        pcs_m.append(result["pcs_m"])
    results["the_min"] = np.min(pcs_m)
    results["the_max"] = np.max(pcs_m)
    results["the_median"] = np.median(pcs_m)
    results["the_average"] = np.mean(pcs_m)
    results["twenty_fifth"] = np.percentile(pcs_m, 25)
    results["seventy_fifth"] =  np.percentile(pcs_m, 75)
    results["no_samples"] = len(pcs_m)
    results["last_sample"] = max([x["date"] for x in data])
    results["first_sample"] = min([x["date"] for x in data])
    return results
# make time value pairts
def time_value_pairs(aList):
    myPairs = [[result['date'], result['pcs_m']] for result in aList]
    return myPairs

#### Wrting the class

In [4]:
code = "G32"
common_name = ["toys_data"]
end_point = "http://mwshovel.pythonanywhere.com/dirt/codes/Lac-L%C3%A9man/"

class MlWCodes():
    def __init__(self, code, common_names, end_points):
        self.code = code
        self.data = get_pieces_per_meter(get_the_data(common_names,end_points))
        self.time_value = time_value_pairs(self.data)
        self.summary = make_summary(self.data)
        
    
toys = MlWCodes(code=code, common_names=['toys_data'], end_points=[end_point + 'G32'])
polystyrene = MlWCodes(code=code, common_names=['polystyrene_data'], end_points=[end_point + 'G82'])
plastic_sheeting = MlWCodes(code=code, common_names=['plastic-sheeting_data'], end_points=[end_point + 'G67'])

#### Using the class

In [5]:
type(toys.summary)

dict

In [6]:
toys.summary

{'the_min': 0.012,
 'the_max': 2.222,
 'the_median': 0.063,
 'the_average': 0.12757894736842101,
 'twenty_fifth': 0.027750000000000004,
 'seventy_fifth': 0.125,
 'no_samples': 76,
 'last_sample': '2019-10-10',
 'first_sample': '2015-11-23'}

In [7]:
toys_df = pd.DataFrame(toys.summary, index=[0])
toys_df = toys_df.join(pd.DataFrame({'code_id': ['G32']}))
toys_df

,the_min,the_max,the_median,the_average,twenty_fifth,seventy_fifth,no_samples,last_sample,first_sample,code_id
0,0.012,2.222,0.063,0.127579,0.02775,0.125,76,2019-10-10,2015-11-23,G32

In [8]:
plastic_sheeting = pd.DataFrame(plastic_sheeting.summary, index=[0])
plastic_sheeting = plastic_sheeting.join(pd.DataFrame({'code_id': ['G67']}))
plastic_sheeting

,the_min,the_max,the_median,the_average,twenty_fifth,seventy_fifth,no_samples,last_sample,first_sample,code_id
0,0.014,6.1,0.2355,0.566918,0.095,0.54925,110,2019-10-10,2015-11-24,G67

In [9]:
df = toys_df.append(plastic_sheeting , ignore_index=True)
df

,the_min,the_max,the_median,the_average,twenty_fifth,seventy_fifth,no_samples,last_sample,first_sample,code_id
0,0.012,2.222,0.0630,0.127579,0.02775,0.12500,76,2019-10-10,2015-11-23,G32
1,0.014,6.100,0.2355,0.566918,0.09500,0.54925,110,2019-10-10,2015-11-24,G67

In [10]:
polystyrene.summary

{'the_min': 0.016,
 'the_max': 13.875,
 'the_median': 0.66,
 'the_average': 1.454246153846154,
 'twenty_fifth': 0.222,
 'seventy_fifth': 1.641,
 'no_samples': 130,
 'last_sample': '2019-10-10',
 'first_sample': '2015-11-23'}

In [11]:
# get the summary of data for toys
toys.summary

{'the_min': 0.012,
 'the_max': 2.222,
 'the_median': 0.063,
 'the_average': 0.12757894736842101,
 'twenty_fifth': 0.027750000000000004,
 'seventy_fifth': 0.125,
 'no_samples': 76,
 'last_sample': '2019-10-10',
 'first_sample': '2015-11-23'}

### Searching, grouping and sorting by date or date range

1. Get the results for one survey day at a location
2. Group survey results by date range

The MLWCodes class includes an array of results in pcs/m per survey __MLWCodes.time_value__ or the pieces per survey is in __MLWCodes.data__.

First thing is to get the latest sample by the SWE group and take a look at those results.

####  Get the results for one survey from the data

1. Specify date and location
2. Compare the results of that sample to the sample population

In [12]:
# call the function to get data 
all_the_data = get_the_data(["pierrettes"], ["http://mwshovel.pythonanywhere.com/dirt/codes/Parc-des-Pierrettes"])

# define a method that accpets the data, a key and and the required date in integer form
def get_the_latest(all_the_data, key, year, month, day):
    the_results = all_the_data[key]
    my_date_string = '{year}-{month}-{day}'.format(year=year, month=month, day=day)
    i_want_these = [item for item in the_results if item['date'] == my_date_string or 2016-10-13 or 2017-5-10]
    return i_want_these
    
the_latest_inventory = get_the_latest(all_the_data, "pierrettes", 2019,10,10)

In [14]:
# call the function to get data for any date
all_the_data = get_the_data(["pierrettes"], ["http://mwshovel.pythonanywhere.com/dirt/codes/Parc-des-Pierrettes"])

# define a method that accpets the data, a key and and the required date in integer form
def get_data_by_beach(all_the_data, key):
    the_results = all_the_data[key]
    i_want_these = [item for item in the_results]
    return i_want_these
    
all_inventory_pierrettes = get_data_by_beach(all_the_data, "pierrettes")
get_some_stats(all_inventory_pierrettes)

NameError: name 'get_some_stats' is not defined

In [15]:
# 2016-10-13, 2017-5-10, 2019-10-10
all_inventory_pierrettes['date' == 2016-10-13]

{'location_id': 'Parc-des-Pierrettes',
 'date': '2016-10-13',
 'code_id': 'G10',
 'length': 48,
 'quantity': 1,
 'project_id': 'MCBP',
 'owner': 'mwshovel'}

In [16]:
# call the function to get data 
all_the_data = get_the_data(["pierrettes"], ["http://mwshovel.pythonanywhere.com/dirt/codes/Parc-des-Pierrettes"])

# define a method that accpets the data, a key and and the required date in integer form
def get_the_latest(all_the_data, key, year, month, day):
    the_results = all_the_data[key]
    my_date_string = '{year}-{month}-{day}'.format(year=year, month=month, day=day)
    i_want_these = [item for item in the_results if item['date'] == my_date_string or '2016-10-13' or '2017-5-10']
    return i_want_these
    
the_latest_inventory = get_the_latest(all_the_data, "pierrettes", 2019,10,10)
get_some_stats(the_latest_inventory)

NameError: name 'get_some_stats' is not defined

In [17]:
#pd.read_json(the_latest_inventory)
pierretes_all = pd.DataFrame(all_inventory_pierrettes)
pierretes_all

,location_id,date,code_id,length,quantity,project_id,owner
0,Parc-des-Pierrettes,2016-10-13,G10,48,1,MCBP,mwshovel
1,Parc-des-Pierrettes,2016-10-13,G100,48,38,MCBP,mwshovel
2,Parc-des-Pierrettes,2016-10-13,G125,48,2,MCBP,mwshovel
3,Parc-des-Pierrettes,2016-10-13,G142,48,1,MCBP,mwshovel
4,Parc-des-Pierrettes,2016-10-13,G145,48,4,MCBP,mwshovel
...,...,...,...,...,...,...,...
83,Parc-des-Pierrettes,2019-10-10,G99,30,1,tiger-duck,mwshovel
84,Parc-des-Pierrettes,2019-10-10,G100,30,9,tiger-duck,mwshovel
85,Parc-des-Pierrettes,2019-10-10,G178,30,1,tiger-duck,mwshovel
86,Parc-des-Pierrettes,2019-10-10,G19,30,1,tiger-duck,mwshovel
87,Parc-des-Pierrettes,2019-10-10,G213,30,1,tiger-duck,mwshovel

In [18]:
pierretes_all.loc[pierretes_all['code_id'] == 'G32']

,location_id,date,code_id,length,quantity,project_id,owner
20,Parc-des-Pierrettes,2016-10-13,G32,48,6,MCBP,mwshovel
52,Parc-des-Pierrettes,2017-10-05,G32,42,2,MCBP,mwshovel
76,Parc-des-Pierrettes,2019-10-10,G32,30,3,tiger-duck,mwshovel

In [19]:
pierretes_all.loc[pierretes_all['code_id'] == 'G67']

,location_id,date,code_id,length,quantity,project_id,owner
25,Parc-des-Pierrettes,2016-10-13,G67,48,4,MCBP,mwshovel
70,Parc-des-Pierrettes,2019-10-10,G67,30,14,tiger-duck,mwshovel

##### get the total number found, the pieces per meter and the number of categories

In [20]:
def get_some_stats(aList):
    the_total = 0
    pcs_m = 0
    the_most = 0
    the_most_object = ''
    number_of_categories = len(aList)
    for result in aList:
        the_total += result["quantity"]
        pcs_m += result['quantity']/result['length']
        if result["quantity"] > the_most:
            the_most = result['quantity']
            the_most_object = result['code_id']
    return {'pcs-m':pcs_m, 'the_total': the_total, 'categories':number_of_categories, 'the_max':the_most, 'the_max_object':the_most_object}
get_some_stats(the_latest_inventory)

{'pcs-m': 26.947023809523834,
 'the_total': 1142,
 'categories': 88,
 'the_max': 267,
 'the_max_object': 'G82'}

##### Research questions:

1. How does the pcs_m value found on that day compare to the results for the whole lake?
2. What was the probability of finding that value? (given past results)
3. Does the_max_object fall in the top ten of the whole lake?
4. How does the value for pcs-m toys compare to the previous results?

##### __Given the previous results, do you feel the latest survey results were predictable? How would you go about predicting values in the future?__

#### Group the results by month

1. Get the median, average, 50th percentile, 75th percentile and number of samples per month
2. Identify which, if any, may have a seasonal variation
3. Determine the method to verify seasonal variation

In [21]:
# check the first entries in toys.value
# it gives a date and a value in pcs/m
print(toys.time_value[0])

['2015-11-23', 0.066]

In [22]:
# convert all string values to datetime objects
toys_dates_datetime = [[datetime.datetime.strptime(x[0], "%Y-%m-%d"), x[1]] for x in toys.time_value]
toys_dates_datetime[0]

[datetime.datetime(2015, 11, 23, 0, 0), 0.066]

In [23]:
#  group by month
def group_values_by_month(aList):
    grouped_by_month = {}
    for x in aList:
        month = x[0].month
        months = grouped_by_month.keys()
        if month in months:
            grouped_by_month[month].append(x)
        else:
            grouped_by_month[month] = [x]
    return grouped_by_month
toys_grouped_by_month = group_values_by_month(toys_dates_datetime)

In [24]:
# supress scientific notation for numpy array display
np.set_printoptions(suppress=True)
# set default precision when printing numpy arrays
np.set_printoptions(precision=3)

In [25]:
toys_grouped_by_month

{11: [[datetime.datetime(2015, 11, 23, 0, 0), 0.066],
  [datetime.datetime(2016, 11, 14, 0, 0), 0.016],
  [datetime.datetime(2016, 11, 17, 0, 0), 0.129],
  [datetime.datetime(2016, 11, 21, 0, 0), 0.135],
  [datetime.datetime(2016, 11, 28, 0, 0), 0.064],
  [datetime.datetime(2017, 11, 17, 0, 0), 0.012],
  [datetime.datetime(2018, 11, 6, 0, 0), 0.056]],
 12: [[datetime.datetime(2015, 12, 4, 0, 0), 0.066],
  [datetime.datetime(2015, 12, 4, 0, 0), 0.016],
  [datetime.datetime(2015, 12, 10, 0, 0), 0.016],
  [datetime.datetime(2015, 12, 17, 0, 0), 0.016],
  [datetime.datetime(2015, 12, 30, 0, 0), 0.049],
  [datetime.datetime(2016, 12, 16, 0, 0), 0.323],
  [datetime.datetime(2015, 12, 16, 0, 0), 0.014],
  [datetime.datetime(2017, 12, 16, 0, 0), 0.143],
  [datetime.datetime(2017, 12, 16, 0, 0), 0.012]],
 1: [[datetime.datetime(2016, 1, 7, 0, 0), 0.033],
  [datetime.datetime(2016, 1, 13, 0, 0), 0.016],
  [datetime.datetime(2016, 1, 19, 0, 0), 0.033],
  [datetime.datetime(2016, 1, 19, 0, 0), 0.016],
  [datetime.datetime(2016, 1, 6, 0, 0), 0.014],
  [datetime.datetime(2016, 1, 13, 0, 0), 0.02],
  [datetime.datetime(2016, 1, 23, 0, 0), 0.058],
  [datetime.datetime(2016, 1, 15, 0, 0), 0.057],
  [datetime.datetime(2016, 1, 24, 0, 0), 0.8],
  [datetime.datetime(2016, 1, 21, 0, 0), 0.019],
  [datetime.datetime(2017, 1, 5, 0, 0), 0.116],
  [datetime.datetime(2017, 1, 31, 0, 0), 0.167],
  [datetime.datetime(2018, 1, 23, 0, 0), 0.037]],
 2: [[datetime.datetime(2016, 2, 11, 0, 0), 0.082],
  [datetime.datetime(2016, 2, 10, 0, 0), 0.029],
  [datetime.datetime(2016, 2, 9, 0, 0), 0.019]],
 5: [[datetime.datetime(2016, 5, 17, 0, 0), 0.016],
  [datetime.datetime(2016, 5, 2, 0, 0), 0.062],
  [datetime.datetime(2016, 5, 10, 0, 0), 0.116],
  [datetime.datetime(2016, 5, 10, 0, 0), 0.438],
  [datetime.datetime(2016, 5, 30, 0, 0), 0.039],
  [datetime.datetime(2016, 5, 3, 0, 0), 0.047],
  [datetime.datetime(2016, 5, 31, 0, 0), 0.067],
  [datetime.datetime(2017, 5, 25, 0, 0), 0.105],
  [datetime.datetime(2017, 5, 19, 0, 0), 0.033],
  [datetime.datetime(2018, 5, 8, 0, 0), 0.067],
  [datetime.datetime(2017, 5, 19, 0, 0), 0.233]],
 6: [[datetime.datetime(2016, 6, 22, 0, 0), 0.033],
  [datetime.datetime(2016, 6, 28, 0, 0), 0.066],
  [datetime.datetime(2016, 6, 17, 0, 0), 0.038],
  [datetime.datetime(2017, 6, 8, 0, 0), 0.081]],
 7: [[datetime.datetime(2016, 7, 16, 0, 0), 0.016],
  [datetime.datetime(2016, 7, 15, 0, 0), 0.049],
  [datetime.datetime(2016, 7, 10, 0, 0), 0.033],
  [datetime.datetime(2018, 7, 22, 0, 0), 0.045],
  [datetime.datetime(2017, 7, 11, 0, 0), 0.012]],
 9: [[datetime.datetime(2016, 9, 21, 0, 0), 0.643],
  [datetime.datetime(2017, 9, 30, 0, 0), 0.162]],
 3: [[datetime.datetime(2016, 3, 14, 0, 0), 0.216],
  [datetime.datetime(2016, 3, 26, 0, 0), 0.294],
  [datetime.datetime(2016, 3, 31, 0, 0), 0.2],
  [datetime.datetime(2017, 3, 20, 0, 0), 0.075]],
 4: [[datetime.datetime(2016, 4, 28, 0, 0), 0.024],
  [datetime.datetime(2016, 4, 2, 0, 0), 0.143],
  [datetime.datetime(2016, 4, 10, 0, 0), 0.071],
  [datetime.datetime(2016, 4, 10, 0, 0), 0.156],
  [datetime.datetime(2016, 4, 12, 0, 0), 0.019],
  [datetime.datetime(2016, 4, 19, 0, 0), 0.118],
  [datetime.datetime(2016, 4, 24, 0, 0), 0.016],
  [datetime.datetime(2017, 4, 9, 0, 0), 0.033],
  [datetime.datetime(2018, 4, 2, 0, 0), 0.129],
  [datetime.datetime(2017, 4, 30, 0, 0), 0.111]],
 8: [[datetime.datetime(2016, 8, 25, 0, 0), 0.1]],
 10: [[datetime.datetime(2016, 10, 13, 0, 0), 0.125],
  [datetime.datetime(2016, 10, 13, 0, 0), 0.125],
  [datetime.datetime(2017, 10, 5, 0, 0), 0.25],
  [datetime.datetime(2017, 10, 5, 0, 0), 0.048],
  [datetime.datetime(2017, 10, 22, 0, 0), 0.071],
  [datetime.datetime(2018, 10, 16, 0, 0), 2.222],
  [datetime.datetime(2019, 10, 10, 0, 0), 0.1]]}

In [26]:
# group by month and year

def group_values_by_month_year(aList):
    grouped_by_month_year = {}
    for x in aList:
        month_year = (x[0].year, x[0].month)
        months_years = grouped_by_month_year.keys()
        if month_year in months_years:
            grouped_by_month_year[month_year].append(x)
        else:
            grouped_by_month_year[month_year] = [x]
    return grouped_by_month_year
toys_grouped_by_month_year = group_values_by_month_year(toys_dates_datetime)

In [27]:
toys_grouped_by_month_year

{(2015, 11): [[datetime.datetime(2015, 11, 23, 0, 0), 0.066]],
 (2015, 12): [[datetime.datetime(2015, 12, 4, 0, 0), 0.066],
  [datetime.datetime(2015, 12, 4, 0, 0), 0.016],
  [datetime.datetime(2015, 12, 10, 0, 0), 0.016],
  [datetime.datetime(2015, 12, 17, 0, 0), 0.016],
  [datetime.datetime(2015, 12, 30, 0, 0), 0.049],
  [datetime.datetime(2015, 12, 16, 0, 0), 0.014]],
 (2016, 1): [[datetime.datetime(2016, 1, 7, 0, 0), 0.033],
  [datetime.datetime(2016, 1, 13, 0, 0), 0.016],
  [datetime.datetime(2016, 1, 19, 0, 0), 0.033],
  [datetime.datetime(2016, 1, 19, 0, 0), 0.016],
  [datetime.datetime(2016, 1, 6, 0, 0), 0.014],
  [datetime.datetime(2016, 1, 13, 0, 0), 0.02],
  [datetime.datetime(2016, 1, 23, 0, 0), 0.058],
  [datetime.datetime(2016, 1, 15, 0, 0), 0.057],
  [datetime.datetime(2016, 1, 24, 0, 0), 0.8],
  [datetime.datetime(2016, 1, 21, 0, 0), 0.019]],
 (2016, 2): [[datetime.datetime(2016, 2, 11, 0, 0), 0.082],
  [datetime.datetime(2016, 2, 10, 0, 0), 0.029],
  [datetime.datetime(2016, 2, 9, 0, 0), 0.019]],
 (2016, 5): [[datetime.datetime(2016, 5, 17, 0, 0), 0.016],
  [datetime.datetime(2016, 5, 2, 0, 0), 0.062],
  [datetime.datetime(2016, 5, 10, 0, 0), 0.116],
  [datetime.datetime(2016, 5, 10, 0, 0), 0.438],
  [datetime.datetime(2016, 5, 30, 0, 0), 0.039],
  [datetime.datetime(2016, 5, 3, 0, 0), 0.047],
  [datetime.datetime(2016, 5, 31, 0, 0), 0.067]],
 (2016, 6): [[datetime.datetime(2016, 6, 22, 0, 0), 0.033],
  [datetime.datetime(2016, 6, 28, 0, 0), 0.066],
  [datetime.datetime(2016, 6, 17, 0, 0), 0.038]],
 (2016, 7): [[datetime.datetime(2016, 7, 16, 0, 0), 0.016],
  [datetime.datetime(2016, 7, 15, 0, 0), 0.049],
  [datetime.datetime(2016, 7, 10, 0, 0), 0.033]],
 (2016, 9): [[datetime.datetime(2016, 9, 21, 0, 0), 0.643]],
 (2016, 12): [[datetime.datetime(2016, 12, 16, 0, 0), 0.323]],
 (2016, 3): [[datetime.datetime(2016, 3, 14, 0, 0), 0.216],
  [datetime.datetime(2016, 3, 26, 0, 0), 0.294],
  [datetime.datetime(2016, 3, 31, 0, 0), 0.2]],
 (2016, 4): [[datetime.datetime(2016, 4, 28, 0, 0), 0.024],
  [datetime.datetime(2016, 4, 2, 0, 0), 0.143],
  [datetime.datetime(2016, 4, 10, 0, 0), 0.071],
  [datetime.datetime(2016, 4, 10, 0, 0), 0.156],
  [datetime.datetime(2016, 4, 12, 0, 0), 0.019],
  [datetime.datetime(2016, 4, 19, 0, 0), 0.118],
  [datetime.datetime(2016, 4, 24, 0, 0), 0.016]],
 (2016, 8): [[datetime.datetime(2016, 8, 25, 0, 0), 0.1]],
 (2016, 10): [[datetime.datetime(2016, 10, 13, 0, 0), 0.125],
  [datetime.datetime(2016, 10, 13, 0, 0), 0.125]],
 (2016, 11): [[datetime.datetime(2016, 11, 14, 0, 0), 0.016],
  [datetime.datetime(2016, 11, 17, 0, 0), 0.129],
  [datetime.datetime(2016, 11, 21, 0, 0), 0.135],
  [datetime.datetime(2016, 11, 28, 0, 0), 0.064]],
 (2017, 1): [[datetime.datetime(2017, 1, 5, 0, 0), 0.116],
  [datetime.datetime(2017, 1, 31, 0, 0), 0.167]],
 (2017, 3): [[datetime.datetime(2017, 3, 20, 0, 0), 0.075]],
 (2017, 4): [[datetime.datetime(2017, 4, 9, 0, 0), 0.033],
  [datetime.datetime(2017, 4, 30, 0, 0), 0.111]],
 (2017, 6): [[datetime.datetime(2017, 6, 8, 0, 0), 0.081]],
 (2017, 5): [[datetime.datetime(2017, 5, 25, 0, 0), 0.105],
  [datetime.datetime(2017, 5, 19, 0, 0), 0.033],
  [datetime.datetime(2017, 5, 19, 0, 0), 0.233]],
 (2017, 9): [[datetime.datetime(2017, 9, 30, 0, 0), 0.162]],
 (2017, 10): [[datetime.datetime(2017, 10, 5, 0, 0), 0.25],
  [datetime.datetime(2017, 10, 5, 0, 0), 0.048],
  [datetime.datetime(2017, 10, 22, 0, 0), 0.071]],
 (2018, 4): [[datetime.datetime(2018, 4, 2, 0, 0), 0.129]],
 (2018, 5): [[datetime.datetime(2018, 5, 8, 0, 0), 0.067]],
 (2018, 7): [[datetime.datetime(2018, 7, 22, 0, 0), 0.045]],
 (2017, 12): [[datetime.datetime(2017, 12, 16, 0, 0), 0.143],
  [datetime.datetime(2017, 12, 16, 0, 0), 0.012]],
 (2017, 7): [[datetime.datetime(2017, 7, 11, 0, 0), 0.012]],
 (2017, 11): [[datetime.datetime(2017, 11, 17, 0, 0), 0.012]],
 (2018, 1): [[datetime.datetime(2018, 1, 23, 0, 0), 0.037]],
 (2018, 10): [[datetime.datetime(2018, 10, 16, 0, 0), 2.222]],
 (2018, 11): [[datetime.datetime(2018, 11, 6, 0, 0), 0.056]],
 (2019, 10): [[datetime.datetime(2019, 10, 10, 0, 0), 0.1]]}

In [28]:
type(toys_grouped_by_month_year)

dict

In [29]:
toys_grouped_by_month_year[(2015,11)]

[[datetime.datetime(2015, 11, 23, 0, 0), 0.066]]

In [30]:
toys_grouped_by_month_year[(2015,11)][0][1]

0.066

In [31]:
len(toys_grouped_by_month_year)

31

In [32]:
l = list(toys_grouped_by_month_year.keys())
l[1]

(2015, 12)

In [33]:
toys_grouped_by_month_year[l[1]]

[[datetime.datetime(2015, 12, 4, 0, 0), 0.066],
 [datetime.datetime(2015, 12, 4, 0, 0), 0.016],
 [datetime.datetime(2015, 12, 10, 0, 0), 0.016],
 [datetime.datetime(2015, 12, 17, 0, 0), 0.016],
 [datetime.datetime(2015, 12, 30, 0, 0), 0.049],
 [datetime.datetime(2015, 12, 16, 0, 0), 0.014]]

In [36]:
np.array(toys_grouped_by_month_year[l[1]])[:,1]

array([0.066, 0.016, 0.016, 0.016, 0.049, 0.014], dtype=object)

In [44]:
np.mean(np.array(toys_grouped_by_month_year[l[1]])[:,1])

0.029500000000000002

In [52]:
monthly_average=np.zeros(len(toys_grouped_by_month_year.keys()))
print(len(monthly_average))
j = 0
for i in l:
    monthly_average[j] = np.mean(np.array(toys_grouped_by_month_year[i])[:,1])
    j = j+1
monthly_average

31

array([0.066, 0.03 , 0.107, 0.043, 0.112, 0.046, 0.033, 0.643, 0.323,
       0.237, 0.078, 0.1  , 0.125, 0.086, 0.142, 0.075, 0.072, 0.081,
       0.124, 0.162, 0.123, 0.129, 0.067, 0.045, 0.077, 0.012, 0.012,
       0.037, 2.222, 0.056, 0.1  ])

In [38]:
list(toys_grouped_by_month_year.keys())

[(2015, 11),
 (2015, 12),
 (2016, 1),
 (2016, 2),
 (2016, 5),
 (2016, 6),
 (2016, 7),
 (2016, 9),
 (2016, 12),
 (2016, 3),
 (2016, 4),
 (2016, 8),
 (2016, 10),
 (2016, 11),
 (2017, 1),
 (2017, 3),
 (2017, 4),
 (2017, 6),
 (2017, 5),
 (2017, 9),
 (2017, 10),
 (2018, 4),
 (2018, 5),
 (2018, 7),
 (2017, 12),
 (2017, 7),
 (2017, 11),
 (2018, 1),
 (2018, 10),
 (2018, 11),
 (2019, 10)]

In [39]:
dates = np.array(list(toys_grouped_by_month_year.keys()))
dates[:,0]
#dates[:,0]

array([2015, 2015, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016,
       2016, 2016, 2016, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2018,
       2018, 2018, 2017, 2017, 2017, 2018, 2018, 2018, 2019])

In [40]:
A = np.zeros((len(monthly_average),4))
A[:,0] = monthly_average
A[:,[1,2]] = dates
A

NameError: name 'monthly_average' is not defined

In [ ]:
n_year = A[-1,1] - A[0,1]
time = np.arange(n_year*12)
time
#type(time)

In [ ]:
n = 0
for t in time:
    if n == A[t,2] - A[0,2]:
        A[t,3] = n
    n = n+1

In [ ]:
A[np.where(A[:,2] == A[:,2]+1)])

In [ ]:
df_A = pd.DataFrame(A)
df_A.columns = ['average pcs_m', 'year', 'month']
df_A

In [ ]:
plt.scatter(montly_average, dates)

In [ ]:
# probability of finding this mean compared to the entire lac
sigma = 10.65 # standard deviation lake all time
mean = 9.14 # average for the lake  all time
x  = 6.37 # average obtained at pierretes 2019.10.10
n = 191 # samples

#(1/(2*np.pi*sigma**2)**0.5)*np.e**(-(x-mean)**2/(2*sigma**2))
Z1 = (x - mean)/(sigma/n**0.5)
Z2 = (x - mean)/(sigma)
Z2

In [ ]:
np.e

In [ ]:
import matplotlib.cbook as cbook
import matplotlib.dates as mdates
import numpy as np
import matplotlib.pyplot as plt

with cbook.get_sample_data('goog.npz') as datafile:
    r = np.load(datafile)['price_data'].view(np.recarray)

# Matplotlib prefers datetime instead of np.datetime64.
date = r.date.astype('O')
fig, ax = plt.subplots()
ax.plot(date, r.close)
ax.set_title('Default date handling can cause overlapping labels')